<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.statistic.count.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.statistic.count.Perspective"
            id="com.statistic.count.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="Views.DiscroptionView"
            icon="icons/control_play.png"
            id="com.statistic.count.discription"
            name="DiscriptionView"
            restorable="true">
      </view>
      <view
            class="Views.ExplorerView"
            icon="icons/control_play.png"
            id="com.statistic.count.Explorer"
            name="ExplorerView"
            restorable="true">
      </view>
   </extension>

</plugin>
