<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.statistic.counter" name="countStatistic" schema="schema/com.statistic.counter.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.statistic.count.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.statistic.count.Perspective"
            id="com.statistic.count.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.statistic.views.DescriptionView"
            icon="icons/control_play.png"
            id="com.statistic.count.description"
            name="DiscriptionView"
            restorable="true">
      </view>
      <view
            class="com.statistic.views.ExplorerView"
            icon="icons/control_play.png"
            id="com.statistic.count.Explorer"
            name="ExplorerView"
            restorable="true">
      </view>
   </extension>
   <extension
         id="menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               commandId="com.statistic.count.openDialog"
               label="File">
            <command
                  commandId="com.statistic.count.openDialog"
                  style="push">
            </command>
         </menu>
         <menu
               commandId="com.statistic.count.createPerspective"
               id="project"
               label="Project">
            <command
                  commandId="com.statistic.count.createPerspective"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="toolbar">
            <command
                  commandId="com.statistic.count.openDialog"
                  label="open Dialog"
                  
     style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.statistic.handlers.OpenDialog"
            id="com.statistic.count.openDialog"
            name="Open">
      </command>
      <command
            defaultHandler="com.statistic.handlers.CreatePerspectiveEclipse"
            id="com.statistic.count.createPerspective"
            name="CreatePerspective">
      </command>
          
   </extension>
   <extension
         point="com.statistic.counter">
      <extentionOfSearch
            class="com.statistic.fileformat.java.JavaFormat">
      </extentionOfSearch>
      <extentionOfSearch
            class="com.statistic.fileformat.xml.XmlFormat">
      </extentionOfSearch>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.statistic.count.perspective">
         <view
               id="com.statistic.count.view1"
               minimized="false"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
